body{
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

}
.app{
  background-color: #282c34;
  min-height: 250px;
  width: 470px;
  height: min-content;
  border-radius: 15px;
  /* display: flex; */
} 
span{
  margin: 15px;
  font-family: cursive;
  color: white;
  font-size: x-large;
}
.question-text{
  margin: 15px;
  color: white;
  padding-top:  15px; ;
}

.question-section{
  width: 50%;
  color: white;
  display: flex;
  justify-content: right;
  flex-direction: column;
  /* height: 50vh; */
  /* margin-top: 30px; */
  padding-top:30px ;
  padding-left: 10px;

}
/* .question-text{
  display: flex;
  justify-content: left;
} */
.answer-section{
  width: 120px;
  /* position: relative; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 40px;
  padding-right: 10px;
  padding-top: 20px;
}
button{
  margin: 8px;
  border-radius: 15px;
  width: 150px;
  height: 35px;
  background-color: #282c34;
  color: white;
  border: 2.5px solid white;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.3s;
  font-weight: 500;
  
 
}

.button:hover {opacity: 2}

.result{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 30px;
display: flex;
justify-content: center;
align-items: center;
height: 25vh;

}
.display{
  display: flex;
}